{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top shadow-sm" id="navbarSupportedContent">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mx-auto mb-2">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        <img src="{% static "mountains-icon.svg" %}" alt="" width="50" height="50">
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Main page<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/">Users Generator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sessions/">Sessions</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08"
                       data-toggle="dropdown" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" role="button">Contacts</a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown08">
                        <a class="dropdown-item" href="/contacts/">Show Contacts</a>
                        <a class="dropdown-item" href="/contacts/create/">Add a contact</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>