<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>FlaskTasks</title>
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
    <meta charset='UTF-8'><title>DjangoTasks</title>
    <style>
        body{background-image:
    url(https://preview.redd.it/w4xyk5k6xpt51.jpg?auto=webp&s=bc3d47295b9272b46deda85d53381ffb21c7b2db);
    background-attachment: fixed;background-size: auto 100%; background-repeat: no-repeat;
    background-position: 40% 50%;}
    body {
    font-family: 'Montserrat',serif;font-size: 20px;
}
    </style>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>