{% extends 'index.html' %}

{% block body %}

<style>
    li{
  margin: 12px 0;
}
</style>
<h1>Hello, you are on a main page!</h1>
<ul>
    <li><span style="font-size: 120%; "><a href='/requirements/'>requirements</a></span></li>
    <li><span style="font-size: 120%; "><a href='/generate-users/'>generate-users</a></span></li>
    <li><span style="font-size: 120%; "><a href='/space/'>space</a></span></li>
    <li><span style="font-size: 120%; "><a href='/mean/'>mean</a></span></li>
    <li><span style="font-size: 120%; "><a href='/phones/read-all'>show the phones table</a></span></li>
</ul>
{% endblock %}
