{% extends 'index.html' %}

{% block body %}
    {% for contact in contacts %}
        <p>Name: {{ contact.name }}.</p>
        <p>Number: {{ contact.phone_number }}</p>
        <p>Birthday: {{ contact.birthday }}</p>
        <p>Created: {{ contact.creation_date }}
        <p>Edited: {{ contact.edition_date }}</p>
        <div class="d-flex">
        <form class="me-3" action="{% url "contacts_app:update" contact.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary shadow-sm" type="submit" value="Edit">
        </form>
        <form class="me-3" action="{% url "contacts_app:delete" contact.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary shadow-sm" type="submit" value="Delete">
        </form>
        </div>
        <hr>
    {% endfor %}
{% endblock %}